<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markerhub.mapper.ZyjTokenMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.markerhub.entity.ZyjToken">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="type" property="type" />
        <result column="type_remarks" property="typeRemarks" />
        <result column="money" property="money" />
        <result column="prescription" property="prescription" />
        <result column="remaining_times" property="remainingTimes" />
        <result column="export_status" property="exportStatus" />
        <result column="enable" property="enable" />
        <result column="enable_time" property="enableTime" />
        <result column="end_time" property="endTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <insert id="insertBatch" parameterType="com.markerhub.entity.ZyjToken">
        insert into zyj_token
        values
        <foreach collection="tokens" item="item" index="index" separator=",">
            (#{item.id},#{item.code},#{item.type},#{item.typeRemarks},
            #{item.money},#{item.prescription},#{item.enable},#{item.enableTime},
            #{item.endTime},#{item.createTime},#{item.updateTime},#{item.remainingTimes},#{item.exportStatus})
        </foreach>
    </insert>

    <select id="queryEnableToken" resultType="com.markerhub.entity.ZyjToken">
        select * from zyj_token where enable = '1'
    </select>

    <select id="queryAllTokens" resultType="com.markerhub.entity.ZyjToken">
        select * from zyj_token where enable = #{enableType} order by create_time desc
    </select>

    <select id="queryNotEnableTokens" resultType="com.markerhub.entity.TokenExcel">
        select code as code,money as money,prescription as prescription,type_remarks as typeRemarks from zyj_token where enable = '0' limit #{num}
    </select>

    <select id="queryToken" resultType="com.markerhub.entity.ZyjToken">
        select * from zyj_token where code = #{code}
    </select>

    <select id="queryTokenByCode" resultType="com.markerhub.entity.ZyjToken">
        select * from zyj_token where code = #{code} and enable = '1'
    </select>

    <select id="getMoney" resultType="com.markerhub.entity.Money">
        select
	(SELECT sum(money) FROM zyj_token WHERE YEAR(end_time) = YEAR(NOW())  and enable = '2') as currentMonthMoney,
	(SELECT sum(money) FROM zyj_token WHERE YEAR(end_time) = YEAR(NOW())  and enable = '2') as currentYearMoney
    </select>
</mapper>
