<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markerhub.mapper.ZyjUserMapper">
    <resultMap id="BaseResultMap" type="com.markerhub.entity.ZyjUser">
        <id column="id" property="id" />
        <result column="account" property="account" />
        <result column="cookie" property="cookie" />
        <result column="password" property="password" />
        <result column="leave_num" property="leaveNum" />
        <result column="expire" property="expire"/>
        <result column="serial_num" property="serialNum" />
        <result column="max_times" property="maxTimes"/>
        <result column="use_status" property="useStatus"/>
        <result column="query_num" property="queryNum"/>
    </resultMap>

    <select id="queryZyjUsers" resultType="com.markerhub.entity.ZyjUser">
       select * from zyj_user where port = '30001' order by serial_num asc
    </select>

    <select id="queryZyjUsersByPort" resultType="com.markerhub.entity.ZyjUser">
       select * from zyj_user where port=#{port} order by serial_num asc
    </select>

    <update id="updateBatchByIds" parameterType="string">
        update zyj_user set use_status = '停用' where id != #{id} and port = #{port}
    </update>

    <update id="updateBatchByUserIds" parameterType="list">
        update zyj_user set query_num = 0 where id in
        <foreach collection="ids" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="updateUserByAccount">
        update zyj_user set query_num = #{num} where account = #{account}
    </update>
</mapper>
